$curve: cubic-bezier(.19,1,.22,1);
$in-out: cubic-bezier(0.6, 0.14, 0, 1);

$black: #201d1b;
$white: #f4efe4;
$beige: #f4efe4;
$outside: #000;
$line: rgba(32, 29, 27, 0.68);

$font-mono: 'Roboto Mono', monospace;
$font-condensed: 'Oswald', sans-serif;
$font-display: 'Cormorant Garamond', serif;
